<a href="classes">Назад</a><br />
Задания {{ class_.name }}:<br />
<ul>
    {% for class_task in class_.class_tasks %}
        <li>
            <a href="task?id={{ class_task.task.id }}">
                {{ class_task.task.type }} {{ class_task.task.name }}
            </a>
            <a href="class_task?id={{ class_task.id }}">
                Результаты учеников
            </a>
            <a href="remove_class_task?id={{ class_task.id }}">
                Удалить задание
            </a>
        </li>
    {% endfor %}
</ul>
<a href="add_class_task_page?class_id={{ class_.id }}">
    Задать задание классу
</a>