<a href="class_tasks?id={{ class_task.class_.id }}">Назад</a><br />
Результаты {{ class_task.class_.name }} по заданию
<a href="task?id={{ class_task.task.id }}">{{ class_task.task.name }}</a>:

<ul>
  {% for students_task in class_task.students_tasks %}
    <li>
      <a href="students_task?id={{ students_task.id }}">
        {{ students_task.student.name + ' ' + students_task.student.surname }}
      </a>
      Результат: {{ students_task.result }}
      Состояние: {{ students_task.status }}
    </li>

  {% endfor %}
</ul>